.botoes {
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: none;
}

.space-button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: none;
}

.icons {
    width: 25px;
    height: 25px;
}
